$cl: rgba(13, 209, 242, .5);
$c2: rgba(11,89,248, .5);
$c3: rgba(245,21,99, .5);
$c4: rgba(234,37,171, .5);
$c5: rgba(46,252,33, .5);
$c6: rgba(233,252,33, .5);
$c7: rgba(248,68,25, .5);
$c8: rgba(255,0,0, .5);
$c9: rgba(117,102,102, .5);
$cl0: rgba(144,144,144, .5);
